
/* .header-link {
     color: white;
} */

.page-content {
     background-color: var(--content-bg-color, green);
}

.navbar {
     background-color: var(--menu-bg-color);
}

.options-list {
     font-size: 1.15em;
     line-height: 2.2rem;
     margin-top: 30px;
     margin-bottom: 40px;
 }

.side-menu {
     color: white;
     background-color: var(--menu-bg-color, black);
     padding-left: 22px;
     padding-right: 36px;
 }