/* You can add global styles to this file, and also import other style files */
:root {
    --menu-bg-color: rgb(51, 50, 50);
    --content-bg-color: rgb(226, 223, 223);
    --header-bg-color: rgb(190, 187, 187);
}

html, body {
    width: 100vw;
    height: 100vh;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    /* font-size: 0.90em; */
}

app-root {
    display: block;
    height: 100%;
}

.btn {
    margin: 10px;
}

.bug-row {
    background-color: inherit;
}
.bug-row:hover {
    background-color: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.content-body {
    margin: 20px 32px;
    /* padding: 12px; */
}

.content-header {
    background-color: var(--header-bg-color);
    margin: 20px 20px;
    padding: 10px;
}

.delete-btn {
    background-color: inherit;
}

.delete-btn:hover {
    /* margin-top: 8px;
    margin-bottom: 8px; */
    background-color: var(--content-bg-color);
}

.h-line {
    margin-left: 20px;
    margin-right: 20px;
}

.notification-card {
    background-color: inherit;
}
.notification-card:hover {
    background-color: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}
.notification-col {
    background-color: rgb(226, 223, 223);
}
.notification-content {
    font-size: 0.95rem;
}
.notification-date {
    float: right;
    font-size: 1rem;
    font-weight: bold;
}
.notification-title {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
}

