/* You can add global styles to this file, and also import other style files */
:root {
    --menu-bg-color: rgb(51, 50, 50);
    --content-bg-color: rgb(226, 223, 223);
    --header-bg-color: rgb(190, 187, 187);
}

html, body {
    width: 100vw;
    height: 100vh;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    /* font-size: 0.90em; */
}

app-root {
    display: block;
    height: 100%;
}

.btn {
    margin: 10px;
}
