<div class="container">
    <div *ngIf="isAddingBugMode">
        <div class="border border-dark rounded mx-3 mt-4">
            <div class="row mt-3 mb-1 ml-4">Enter new bug info:</div>
                <form #bugForm="ngForm" (ngSubmit)="onSubmitBug(bugForm)">
                    <div class="row mx-3 mt-2">
                        <div class="col-md-3 mx-1 d-flex align-items-center px-0">
                            <select class="form-control" 
                                    name="idProject"
                                    ngModel
                                    required> {{ selectedProject }}
                                <option value="" disabled selected>Select Project</option>
                                <option *ngFor="let project of projectsArr; let i=index"
                                        value="{{ project['idProject'] }}">
                                        {{ project['projectName'] }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mx-3 d-flex justify-content-between mt-2">
                        <div class="col-md-6 d-flex align-items-center mb-1 mx-1 px-0">
                            <input  type="text"
                                    class="form-control"
                                    placeholder="Bug title"
                                    name="bugTitle"
                                    ngModel
                                    required>
                        </div>
                        <div class="col-md-3 d-flex align-items-center mt-1 mr-1 ml-1 px-0">
                            <input  type="text"
                                    class="form-control"
                                    placeholder="Assign to"
                                    name="assignedTo"
                                    ngModel
                                    required>
                        </div>
                    </div>
                    <div class="row mt-2 mb-4 ml-1">
                        <div class="col-md-8 d-flex align-items-center mb-1 mr-3">
                            <textarea   class="form-control" 
                                        rows="4"
                                        name="bugDescription"
                                        placeholder="Description"
                                        maxlength="256"
                                        ngModel
                                        required>
                            </textarea>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center align-items-center mt-1">
                            <!-- Type = "submit" will submit the form
                                 Type = "button" to ensure pushing it will not submit this form. -->
                            <button class="btn-sm mr-4" type="submit" 
                                    [disabled]="!bugForm.valid">Add bug
                            </button>
                            <button class="btn-sm" type="button"
                                    (click)="onCancelAddBug()">Cancel
                            </button>
                        </div>
                    </div>
                </form>
        </div>
    </div>

    <div class="row rounded content-header align-items-center">
        <div class="col-md-3">Project</div>
        <div class="col-md-4">Bug</div>
        <div class="col-md-2">Assigned to</div>
        <div class="col-md-2">Date</div>
        <div class="col-md-1 d-flex justify-content-center">
            <button  *ngIf="!isAddingBugMode"
                (click)="onAddBugMode()"
                class="btn-sm">Add
            </button>
        </div>
    </div>

    <div class="row bug-row mx-4 mt-1 mb-2 px-1 py-3 rounded"
         *ngFor="let bug of bugsArr; let i=index"
         (click)="onSelectBugRow(bug['idBug'])">
        <div class="col-md-3 col-sm-3">{{bug['projectName']}}</div>
        <div class="col-md-4 col-sm-5">{{bug['bugTitle']}}</div>
        <div class="col-md-2 col-sm-2">{{bug['assignedTo']}}</div>
        <div class="col-md-2 col-sm-2">{{bug['bugDate'] | date: 'short' }}</div>
        <div class="col-md-1 col-sm-1 d-flex justify-content-center">
            <button (click)="onDeleteBug(bug['idBug'])"
                    class="delete-btn btn-sm border-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- Loading Spinner-->
<div class="row">
    <p *ngIf="isLoading">LOADING...</p>
</div>





<!-- <div *ngFor="let bug of bugArray; let i = index">
    <p>Project: {{ bug['projectName'] }}</p>
    <p>User: {{ bug['idUser'] }}</p>
    <p>Bug: {{ bug['bugTitle'] }}</p>
    <p>Description: {{ bug['bugDescription'] }}</p>
    <p>Assigned to: {{ bug['assignedTo'] }}</p>
    <p>Date: {{ bug['bugDate'] }}</p>
</div> -->


